:root {
    --event-kalendaru: #00FFB3;
    --event-user: #D0FAFB;
    --event-official: #FFDE66;
    --task-completed-background: #FFDE66;
    --white-blue: #E8FDFD;
    --almost-white-blue: #D0FAFB;
    --blackest-blue: #021717;
    /* Самий темніший синій колір*/
    --black-blue: #042E2F;
    /* Один з темнішних синіх кольорів*/
    --very-bright-blue: #A1F5F7;
    --not-really-very-bright-blue: #72F0F3;
    --bright-blue: #44ECEE;
    --blue: #27E9EC;
    --little-blackier-blue: #11B9BB;
    --little-more-blackier-blue: #0C8A8D;
    --blackier-blue: #085C5E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    position: relative;
}

@media only screen and (min-width: 701px) {
    .side-main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        position: absolute;
        width: 2.5%;
        height: 100%;
        left: 0px;
        top: 0px;
        transition-duration: 400ms;
        background: var(--not-really-very-bright-blue);
    }


    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;
        margin-left: 7%;
        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        isolation: isolate;

        width: 100%;
        height: 100%;
        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .buttons {
        cursor: pointer;
        user-select: none;
        -webkit-user-drag: none;
    }

    .buttons:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .buttons:active {
        background-color: rgba(177, 177, 177, 0.5);
    }

    /* 
    .side-main:hover {
        width: 10%;
    } */

    .side-main.hover {
        width: 10%;
    }

    /* .side-main:hover .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 1%;
        height: 100%;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    } */

    .icons.hovericons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 1%;
        height: 100%;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .text-buttons {
        /* display: none; */
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        opacity: 0;
        line-height: 35px;
        align-items: center;
        cursor: pointer;
        user-select: none;
        transition-duration: 400ms;
    }

    /* .side-main:hover .text-buttons {
        display: block;
        transform: translateX(1px);
        opacity: 1;
    } */

    .text-buttons.hovertext {
        display: block;
        transform: translateX(1px);
        opacity: 1;
    }

    .lower,
    .upper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
        flex: none;
        flex-grow: 0;
    }

    .img-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        gap: 10px;
    }

    .avatar {
        width: 40px;
        height: 40px;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 50px;
    }

    .avatar:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    .avatar:active {
        background: rgba(177, 177, 177, 0.5);
    }

    .enter {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: row;
    }

    .enter:hover {
        text-decoration: underline;
    }

    h3.text-buttons.login-button {
        padding-left: 3px;
    }

    h3.text-buttons.login-button:hover {
        text-decoration: underline;
    }
}

/* @media only screen and (max-width: 1440px) {
    .side-main.hover {
        width: 15%;
    }
} */

@media only screen and (max-width: 700px) {
    .side-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        width: 100%;
        height: 5%;

        position: fixed;
        left: 0;
        bottom: 0;
        background: var(--not-really-very-bright-blue);
    }


    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        isolation: isolate;

        width: 100%;
        height: 100%;
        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .buttons {
        cursor: pointer;
        -webkit-user-drag: none;
    }

    .buttons:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .buttons:active {
        background-color: rgba(177, 177, 177, 0.5);
    }





    .text-buttons {
        display: none;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        opacity: 0;
        line-height: 35px;
        align-items: center;
        cursor: pointer;
        user-select: none;
        transition-duration: 400ms;
    }


    .lower,
    .upper {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 10xp;
        flex: none;
        flex-grow: 0;
    }

    .img-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
    }

    .avatar {
        width: 40px;
        height: 40px;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 50px;
    }

    .avatar:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    .avatar:active {
        background: rgba(177, 177, 177, 0.5);
    }

    .enter {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: row;
    }

    .enter:hover {
        text-decoration: underline;
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    transition-duration: 200ms;
    opacity: 1;
}

.logoLoading {
    position: absolute;
}