:root {
    --event-kalendaru: #00FFB3;
    --event-user: #D0FAFB;
    --event-official: #FFDE66;
    --task-completed-background: #FFDE66;
    --white-blue: #E8FDFD;
    --almost-white-blue: #D0FAFB;
    --blackest-blue: #021717;
    /* Самий темніший синій колір*/
    --black-blue: #042E2F;
    /* Один з темнішних синіх кольорів*/
    --very-bright-blue: #A1F5F7;
    --not-really-very-bright-blue: #72F0F3;
    --bright-blue: #44ECEE;
    --blue: #27E9EC;
    --little-blackier-blue: #11B9BB;
    --little-more-blackier-blue: #0C8A8D;
    --blackier-blue: #085C5E;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    width: 20%;
    height: 51%;
    background: var(--bright-blue);
    border-radius: 20px;
}

.input {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    width: 100%;
    height: 20%;

    /* CSK - #27E9EC/100

    CSK - #27E9EC/100
    */
    background: var(--almost-white-blue);
    border: 1px solid #000000;
    border-radius: 30px;
}

.buttons-support {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;
    height: 50%;
}

.button-support {
    box-sizing: border-box;
    cursor: pointer;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 16px;
    width: 90%;
    height: 20%;

    /* CSK - #27E9EC/600

    CSK - #27E9EC/600
    */
    background: var(--little-blackier-blue);
    border: 1px solid #000000;
    border-radius: 30px;
}

.button {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    height: 15%;

    /* CSK - #27E9EC/600

    CSK - #27E9EC/600
    */
    background: var(--little-blackier-blue);
    border: 1px solid #000000;
    border-radius: 30px;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25%;
}

form#form-support {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 86%;
    width: 100%;
    align-items: center;
}

.textarea-message {
    box-sizing: border-box;
    resize: none;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    width: 100%;
    height: 100%;

    /* CSK - #27E9EC/100

    CSK - #27E9EC/100
    */
    background: var(--almost-white-blue);
    border: 1px solid #000000;
    border-radius: 20px;
}

.button:hover {
    background: var(--very-bright-blue);
}

.button:active {
    background: var(--not-really-very-bright-blue);
}

.button-support:hover {
    background: var(--very-bright-blue);
}

.button-support:active {
    background: var(--not-really-very-bright-blue);
}

.success-message {
    display: none;
}