{% extends "base/base.html" %}
{% load static %}

{% block title %}
Kalendaru - Нотатки
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock %}

{% block modal %}
    <div class="close-modal-window"></div>
    <form method="POST" class="add-note-modal" style="display: none;">
        {% csrf_token %}
        <div class="input">
            <h3>Назва</h3>
            <input class="input inputNoteName form-control" required maxlength="30" type="text" name="name" placeholder="Назва">
        </div>
        <div class="input">
            <h3>Подія</h3>
            <div class="event">
                {% comment %} <input class="input" required type="text" name="event" placeholder="Подія"> {% endcomment %}
                <select class="form-select input inputNoteAction" aria-label="notes" name="event">
                <option value="Завдання">Завдання</option>
                <option selected value="Нотаток">Нотаток</option>
                <option value="Свято">Свято</option>
                <option value="Інша подія">Інша подія</option>
                </select>
            </div>
        </div>
        <div class="input">
            <h3>Опис</h3>
            <textarea class="textarea-message inputNoteDesc form-control" required name="description" cols="83" rows="5" placeholder="Опис"></textarea>
        </div>
        <div class="input">
            <h3>Дата</h3>
            <input class="input date-input inputNoteDate form-control" required type="date" name="date" placeholder="Дата">
        </div>
        <button class="add-note">Створити нотаток</button>
    </form>
{% endblock %}

{% block content %}
        {% if not user.is_authenticated %}
            <div class='no-account'>
                <img src="{% static 'img/alert.svg' %}" alt="#" style='-webkit-user-drag: none;'>
                <h4 style='padding-top: 10px;'>У вас немає облікового запису, щоб створювати нотатки</h4>
            </div>
        {% endif %}
    <div class="notes">
        <h2>Нотатки</h2>

        <div class="notes-content">
            <div class="days">

                {% if notes %}
                    {% for note in notes %}
                        <div class="note" id="{{ note.pk }}">
                            <div class="text-close">
                                <h5 class='noteName'>{{ note.name }}</h5>
                                <form action="{% url 'notes' %}" method="POST" class="formDeleteNote">
                                    {% csrf_token %}
                                    <input type='image' src="{% static 'img/delete.svg' %}" class="remove-note" value='{{ note.pk }}'>
                                    <input type="hidden" name='pknote' class="pkNoteDelete"  value='{{ note.pk }}'>
                                </form>
                            </div>
                            <h6 class='noteDate'>{{ note.date_added }}</h6>
                            <input type="hidden" class='noteDesc' value="{{ note.description }}">
                            <input type="hidden" class='noteAction' value="{{ note.action }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <h5>Немає нотатків</h5>
                {% endif %}
            </div>
            <button class="add-note-button">Створити нотаток</button>
            <div class="note-description">
                <form method="POST" style="height: 100%;display: flex;flex-direction: column;justify-content: space-between;" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="input">
                        <h3>Назва</h3>
                        <input class="input inputNoteName form-control" maxlength="30" required type="text" name="name" placeholder="Назва">
                    </div>
                    <div class="input">
                        <h3>Подія</h3>
                        <div class="event">
                            {% comment %} <input class="input" required type="text" name="event" placeholder="Подія"> {% endcomment %}
                            <select class="form-select input inputNoteAction" aria-label="notes" name="event">
                              <option value="Завдання">Завдання</option>
                              <option selected value="Нотаток">Нотаток</option>
                              <option value="Свято">Свято</option>
                              <option value="Інша подія">Інша подія</option>
                            </select>
                        </div>
                    </div>
                    <div class="input">
                        <h3>Опис</h3>
                        <textarea class="textarea-message inputNoteDesc form-control" required name="description" cols="83" rows="5" placeholder="Опис"></textarea>
                    </div>
                    <div class="input">
                        <h3>Дата</h3>
                        <input class="input date-input inputNoteDate form-control" required type="date" name="date" placeholder="Дата">
                    </div>
                    <button class="add-note">Створити нотаток</button>
                </form>

            </div>
        </div>     
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/notes.js' %}" defer></script>
{% endblock %}