{% extends "base/base.html" %}
{% load static %}

{% block title %}
Kalendaru - Опції
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/options.css' %}">
{% endblock %}
{% block modal %}
    <div class="modalDelete">
        <p style="margin-bottom: 0rem;">Для видалення облікового запису треба написати пароль</p>
        <form method="POST" class="modalDeleteDiv">
            {% csrf_token %}
            <input type="password" class='passwordModalDelete' name='passwordModalDelete' placeholder="Пароль" required>
            
            <div class="buttons-modal-delete">
                <button class="button-modal-delete button-delete" name='delete_user'>Видалити</button>
                <a type='button' href="#" class="button-modal-delete button-no-delete">Не видаляти</a>
            </div>
        </form>
    </div>
    <div class="modalChange">
        <p style="margin-bottom: 0rem;">Напишіть новий пароль</p>
        <form method="POST" class="modalDeleteDiv modalChangePass" style='gap: 5px;'>
            {% csrf_token %}
            <input type="password" class='passwordModalDelete form-control' name='passwordModalOld' placeholder="Старий Пароль" required>
            <input type="password" class='passwordModalDelete form-control' name='passwordModalNew' placeholder="Новий Пароль" required>
            <div class="buttons-modal-delete">
                <button class="button-modal-delete button-delete" name='change_password'>Змінити</button>
                <a type="button" class="button-modal-delete button-not-change button-no-delete">Не змінювати</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}

    <div class="options">
        <div class="options-left">
            <div class="options-buttons">
                <button class="button-options profile" onclick="profileOption()">Обліковий запис</button>
                <button class="button-options notification" onclick="notificationOption()">Сповіщення</button>
                <button class="button-options privacy" onclick="policyOption()">Privacy Policy</button>
                <button class="button-options terms" onclick="termsOption()">Terms Of Use</button>
                <button class="button-options languages" onclick="languageOption()">Про нас</button>
                <form method="POST" class="logout mobile">
                    {% csrf_token %}
                    <button class="button-options" name='logout'>Вийти з облікового запису</button>
                </form>
            </div>
            {% if user.is_authenticated %}
                <form method="POST" class="logout pc">
                    {% csrf_token %}
                    <button class="button-options" name='logout'>Вийти з облікового запису</button>
                </form>
            {% endif %}
        </div>
        <div class="options-right">
            
            <div class="content-option profile-content">
                <div class="profile-content-option">
                {% if user.is_authenticated %}
                    <div class="profile-not-delete">
                            <h2>Обліковий запис</h2>

                            <div class="text-and-avatar">
                                <form method='POST' action='{% url "options" %}' id='change-avatar' style='cursor: pointer;' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label for="input-file">
                                        {% if avatar.avatar %}
                                            <img style="width: 200px; height: 200px; cursor: pointer; border-radius: 20px" class='theAvatar' src="{{ avatar.avatar.url }}" alt="">
                                        {% else %}
                                            <img style="width: 200px; height: 200px; cursor: pointer; border-radius: 20px;" class='theAvatar' src="{% static 'img/noavatar.png' %}" alt="">
                                        {% endif %}
                                    </label>

                                    <input type="file" id='input-file' accept="image/*" name='change_avatar'>
                                    {% comment %} <button name='changed_avatar_button'>Change</button> {% endcomment %}
                                    {% comment %} <input type="hidden" name='new_avatar' class='your_avatar'> {% endcomment %}
                                </form>

                                <div class="profile-text">
                                    <h5 class="text"><strong>Ім’я: <span class="name" style="color: #3E3E3E">{{ user.username }}</span></strong> {% comment %}<img src="{% static 'img/edit.svg' %}" class='edit' alt="#">{% endcomment %}</h5>
                                    <h5 class="text"><strong>Електронна пошта: <span class="email" style="color: #3E3E3E">{{ user.email }}</span></strong> {% comment %}<img src="{% static 'img/edit.svg' %}" class='edit' alt="#">{% endcomment %}</h5> 
                                    <h5 class="text"><strong>Дата створення облікового запису: <span class="date" style="color: #3E3E3E">{{ user.date_joined }}</span></strong></h5>
                                    <p style='color: #A51C1C;margin-bottom: 0rem;'>{{ error_text }}</p>
                                </div>
                            </div>

                            <button class="button-profile change-password">Змінити пароль</button>
                        

                    </div>
                    {% comment %} <form method='POST'> {% endcomment %}
                        {% comment %} {% csrf_token %} {% endcomment %}
                    <button class="delete-button">Видалити обліковий запис (не рекомендується)</button>
                    {% comment %} </form> {% endcomment %}
                        
                        
                {% else %}
                    <h2>Обліковий запис</h2>
                    <a style="-webkit-appearance: button; -moz-appearance: button; appearance: button; text-decoration: none; color: initial;" href="{% url 'login' %}">Увійти в обліковий запис</a>
                    <button class="delete-button" style='display: none;'>Видалити обліковий запис (не рекомендується)</button>
                    <button class="button-profile change-password" style='display: none;'>Змінити пароль</button>
                {% endif %}
                </div>
            </div>
            <div class="content-option messages-content" style="display: none">
                <h2>Сповіщення</h2>
                <div class="form-check form-switch messages-button">
                    <input class="form-check-input main-notification" type="checkbox" role="switch" id="main-notification">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Сповіщення</label>
                </div>
                <p style="color: #777777;">Сповіщення буде надавати інформацію про завдання, нотатків та інших події з Kalendaru</p>
                <div class="notifications">
                    <div class="form-check form-switch messages-button">
                        <input class="form-check-input otherCheckboxes" type="checkbox" role="switch" id="tasks">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Сповіщення завдань</label>
                    </div>
                    <p style="color: #777777;">Сповіщення буде надавати інформацію про завдання з Kalendaru</p>
                    <div class="form-check form-switch messages-button">
                        <input class="form-check-input otherCheckboxes" type="checkbox" role="switch" id="notes">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Сповіщення нотатків</label>
                    </div>
                    <p style="color: #777777;">Сповіщення буде надавати інформацію про нотатків з Kalendaru</p>
                    <div class="form-check form-switch messages-button">
                        <input class="form-check-input otherCheckboxes" type="checkbox" role="switch" id="actions">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Сповіщення офіційних подій</label>
                    </div>
                    <p style="color: #777777;">Сповіщення буде надавати інформацію про офіційні події з Kalendaru</p>
                </div>

                
            </div>
            <div class="content-option policy-content" style="display: none">
                <p class="long-text"><h2>Політика конфіденційності Kalendaru</h2>

                    Дата набрання чинності: 02.06.2023
                    
                    <p>Дякуємо за користування Kalendaru! У цій Політиці конфіденційності описано типи особистої інформації, яку ми збираємо, як ми використовуємо та захищаємо цю інформацію, коли ви використовуєте наш сайт Kalendaru, а також вибір, який ви маєте щодо ваших особистих даних.</p>
                    
                    <h4>1. Інформація, яку ми збираємо:</h4>
                    
                        <h5>1.1 Інформація про обліковий запис:</h5>
                        Коли ви створюєте обліковий запис на Kalendaru, ми збираємо таку інформацію:
                        <ul>
                            <li>Ім'я: ми збираємо ваше ім'я, щоб персоналізувати ваш обліковий запис і забезпечити більш персоналізований досвід.</li>
                            <li>Адреса електронної пошти: ми збираємо вашу адресу електронної пошти, щоб полегшити спілкування, надавати важливі оновлення, пов’язані з обліковим записом, і дозволити вам скинути свій пароль, якщо це необхідно.</li>
                            <li>Аватар: ви можете завантажити аватар, щоб персоналізувати свій обліковий запис. Ця інформація збирається, лише якщо ви вирішите її надати.</li>
                        </ul>
                        
                        

                        <h5>1.2 Записи Kalendaru:</h5>
                        Kalendaru збирає інформацію, пов’язану з діяльністю вашого Kalendaru, включаючи нотатки, завдання, події та інші деталі, які ви вводите на сайті. Ця інформація зберігається, щоб увімкнути функціональність служби Kalendaru та надати вам персоналізовані функції та нагадування.
                    
                    <h4>2. Використання зібраної інформації:</h4>
                    
                        <h5>2.1 Персоналізація та покращення сервісу:</h5>
                        Ми використовуємо зібрану інформацію, щоб персоналізувати ваш досвід використання Kalendaru, надавати вам відповідний вміст і функції, а також покращувати наші послуги. Це включає адаптацію рекомендацій Kalendaru, нагадувань і пропозицій на основі ваших уподобань і моделей використання.

                        <h5>2.2 Зв'язок:</h5>
                        Ми можемо використовувати вашу електронну адресу, щоб надсилати вам важливі сповіщення, оновлення та оголошення, пов’язані з вашим обліковим записом Kalendaru. Ці повідомлення вважаються важливою частиною послуги, і ви не можете відмовитися від їх отримання.

                        <h5>2.3 Зведені та анонімні дані:</h5>
                        Ми можемо агрегувати та анонімізувати вашу особисту інформацію для отримання статистичних даних і тенденцій. Ці дані використовуються для аналітичних цілей, таких як покращення наших послуг, проведення досліджень і маркетингових цілей. Це не ідентифікує вас особисто.
                    
                    <h4>3. Безпека даних:</h4>
                    
                    Ми серйозно ставимося до безпеки вашої особистої інформації. Ми вживаємо розумні заходи безпеки, щоб захистити ваші дані від несанкціонованого доступу, зміни, розголошення або знищення. Однак зауважте, що жоден метод передачі чи зберігання через Інтернет не є повністю безпечним, і ми не можемо гарантувати абсолютну безпеку вашої інформації.
                    
                    <h4>4. Обмін особистою інформацією:</h4>
                    
                    Ми не продаємо, не обмінюємо та не надаємо вашу особисту інформацію третім особам. Однак ми можемо надати вашу інформацію за таких обставин:
                    <ul>
                        <li>Постачальники послуг: ми можемо залучати довірених сторонніх постачальників послуг для виконання певних функцій або надання послуг від нашого імені, таких як хостинг, обслуговування, аналітика або підтримка клієнтів. Ці постачальники мають доступ до вашої інформації лише в обсязі, необхідному для виконання своїх завдань, і зобов’язані підтримувати конфіденційність і безпеку ваших даних.</li>
                        <li>Юридичні вимоги: ми можемо розкрити вашу інформацію, якщо цього вимагає закон або у відповідь на обґрунтовані запити державних органів (наприклад, суду чи державної установи).</li>
                    </ul>
                    
                    

                    <h4>5. Посилання третіх осіб:</h4>
                    
                    Kalendaru може містити посилання на сторонні веб-сайти або служби, які не належать або не контролюються нами. Ми не несемо відповідальності за політику конфіденційності або вміст цих сторонніх сайтів. Ми рекомендуємо переглянути політику конфіденційності цих веб-сайтів, перш ніж надавати будь-яку особисту інформацію.
                    
                    <h4>6. Конфіденційність дітей:</h4>
                    
                    Kalendaru не призначений для дітей віком до 13 років. Ми свідомо не збираємо особисту інформацію від осіб віком до 13 років. Якщо нам стане відомо, що ми зібрали особисту інформацію дитини віком до 13 років, ми вживемо заходів для видалення такої інформації з наших систем.
                    
                    <h4>7. Ваш вибір і права:</h4>
                        <h5>7.1 Доступ і оновлення:</h5>
                        Вступ і оновити інформацію свого облікового запису, увійшовши у свій обліковий запис Kalendaru та зробивши необхідні зміни в налаштуваннях облікового запису.

                        <h5>7.2 Видалення даних:</h5>
                        Ви можете подати запит на видалення свого

                          облікового запису Kalendaru та пов’язану з ним особисту інформацію, зв’язавшись з нами за допомогою наданої контактної інформації. Зверніть увагу, що певна інформація може зберігатися для законних або законних бізнес-цілей.

                    <h4>8. Зміни до цієї Політики конфіденційності:</h4>
                    
                    Час від часу ми можемо оновлювати цю Політику конфіденційності. Якщо ми внесемо суттєві зміни, ми повідомимо вас електронною поштою або через помітне повідомлення на веб-сайті Kalendaru. Радимо вам періодично переглядати цю Політику конфіденційності, щоб бути в курсі того, як ми збираємо, використовуємо та захищаємо вашу інформацію.
                    
                    <h4>9. Зв'яжіться з нами:</h4>
                    
                    Якщо у вас є будь-які запитання, занепокоєння чи запити щодо цієї Політики конфіденційності або нашої практики обробки даних, зв’яжіться з нами за електронною адресою kalendaruhelp@gmail.com.
                    
                    Використовуючи Kalendaru, ви погоджуєтеся з умовами та практикою, описаними в цій Політиці конфіденційності.</p>
                
            </div>
            <div class="content-option terms-content" style="display: none">
                <p class="long-text"><h2>Умови використання Kalendaru</h2>

                    <p>Дата набрання чинності: 02.06.2023</p>
                    
                    <p>Ласкаво просимо до Kalendaru! Ці Умови використання ("Умови") регулюють використання вами сайту календаря Kalendaru. Будь ласка, уважно прочитайте ці Умови перед використанням сайту. Отримавши доступ або використовуючи Календар, ви погоджуєтеся дотримуватися цих Умов і нашої Політики конфіденційності. Якщо ви не згодні з будь-яким положенням цих Умов, ви не можете використовувати Kalendaru.</p> 
                    
                    <h4>1. Реєстрація облікового запису та використання:</h4>
                    
                        <h5>1.1 Відповідність вимогам:</h5>
                        <p>Щоб користуватися Календарем, вам має бути не менше 13 років. Створюючи обліковий запис, ви заявляєте та гарантуєте, що вам виповнилося 13 років і ви маєте правоздатність прийняти ці Умови.</p>
                        
                        <h5>1.2 Інформація про обліковий запис:</h5>
                        <p>Створюючи обліковий запис на Kalendaru, ви несете відповідальність за надання точної, повної та актуальної інформації. Ви також несете відповідальність за збереження конфіденційності облікових даних свого облікового запису та несете повну відповідальність за всі дії, які відбуваються під вашим обліковим записом. Будь ласка, негайно повідомте нас, якщо ви підозрюєте будь-яке несанкціоноване використання вашого облікового запису або будь-яке інше порушення безпеки.</p>
                        
                        <h5>1.3 Вміст користувача:</h5>
                        <p>Kalendaru дозволяє створювати та зберігати записи Kalendaru, включаючи нотатки, завдання, події та іншу пов’язану інформацію («Вміст користувача»). Ви зберігаєте право власності на свій Контент користувача, і, публікуючи або ділячись ним на Kalendaru, ви надаєте нам невиключну, всесвітню безоплатну ліцензію на використання, зміну, відтворення, розповсюдження та показ вашого Контенту користувача виключно з метою діючий і вдосконалюючи Календар.</p> 
                        
                        <h5>1.4 Заборонена поведінка:</h5>
                        <p>Використовуючи Kalendaru, ви погоджуєтеся не:</p>
                        <ul>
                            <li>Порушувати будь-які чинні закони, нормативні акти або права третіх осіб.</li>
                            <li>Завантажувати, публікувати або передавати будь-який вміст, який є незаконним, наклепницьким, образливим, непристойним, образливим або іншим чином небажаним.</li>
                            <li>Брати участь у будь-якому несанкціонованому використанні Kalendaru, включаючи доступ, збір або зберігання даних за допомогою автоматизованих засобів без нашої попередньої згоди.</li>
                            <li>Спроба втрутитися або порушити функціональність чи безпеку Kalendaru чи будь-яких пов’язаних серверів чи мереж.</li>
                            <li>Використовувати Kalendaru для будь-яких комерційних цілей без нашого прямого письмового дозволу.</li>
                        </ul>
                        
                        
                        
                        
                        
                    
                    <h4>2. Права інтелектуальної власності:</h4>
                    
                    <p>Kalendaru та його вміст, включаючи, але не обмежуючись цим, логотипи, товарні знаки, текст, графіку, зображення, програмне забезпечення та інші матеріали, є нашою власністю чи ліцензією та захищені законами про інтелектуальну власність. Ви не маєте права використовувати, відтворювати, змінювати, поширювати або відображати будь-який вміст Kalendaru без нашої попередньої письмової згоди.</p>
                    
                    <h4>3. Відмова від гарантій:</h4>
                    
                    <p>Kalendaru надається на умовах «як є» та «як доступно» без будь-яких гарантій чи запевнень, явних чи непрямих. Ми не гарантуємо точність, повноту або надійність будь-якого вмісту або інформації на Kalendaru. Ви використовуєте Kalendaru на свій власний ризик, і ви несете відповідальність за будь-які наслідки, пов’язані з таким використанням.</p>
                    
                    <h4>4. Обмеження відповідальності:</h4>
                    
                    Наскільки це дозволено чинним законодавством, ми не несемо відповідальності за будь-які прямі, непрямі, випадкові, непрямі чи спеціальні збитки, що виникли внаслідок або будь-яким чином пов’язані з вашим використанням Kalendaru, навіть якщо нам було повідомлено про можливість таких збитків.
                    
                    <h4>5. Зміна та припинення:</h4>
                    
                    Ми залишаємо за собою право змінювати, призупиняти або припиняти Календар або будь-яку його частину в будь-який час і з будь-якої причини без попереднього повідомлення. Ми також можемо будь-коли змінити ці Умови, і оновлені Умови набудуть чинності після публікації на Kalendaru. Ви зобов’язані періодично переглядати ці Умови. Продовження використання Kalendaru після будь-яких змін до Умов означає вашу згоду зі зміненими Умовами.
                    
                    <h4>6. Застосовне законодавство та юрисдикція:</h4>
                    
                    Ці Умови регулюються та тлумачаться відповідно до закони України. Будь-який судовий позов або провадження, що випливає з цих Умов або Kalendaru або пов’язане з ними, має розглядатися виключно в судах, розташованих у межах зазначеної юрисдикції.

                    <h4>7. Роздільність:</h4>

                    Якщо будь-яке положення цих Умов буде визнано недійсним, незаконним або таким, що не має позовної сили, решта положень залишаться в повній силі.

                    <h4>8. Повна угода:</h4>

                    Ці Умови разом із нашою Політикою конфіденційності становлять повну угоду між вами та Kalendaru щодо використання вами сайту та замінюють будь-які попередні чи поточні угоди, повідомлення чи домовленості, усні чи письмові.

                    <h4>9. Зв'яжіться з нами:</h4>

                    Якщо у вас є будь-які запитання, коментарі чи занепокоєння щодо цих Умов або Kalendaru, зв’яжіться з нами за електронною адресою kalendaruhelp@gmail.com.

                    Використовуючи Календар, ви підтверджуєте, що прочитали, зрозуміли та погодилися з цими Умовами використання.</p>
            </div>
            <div class="content-option language-content" style="display: none">
                
                {% comment %} <div class="form-check form-switch messages-button">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Сповіщення</label>
                </div> {% endcomment %}
                <p class="long-text">
                    <h2>Про нас</h2>
                    <h4>Kalendaru</h4>
                    <p>Ласкаво просимо на Kalendaru! Наш сайт є нашим дипломним проектом, який присвячений календарю і надає можливість створювати блокноти, завдання та мати власний обліковий запис.</p>
                    <h4>Команда</h4>
                    <p>Ми працювали в команді, до якої входили три людини: <strong>Дмітрий Срібний (керівник команди), Ткаченко Прохор та Кирило-Володимир Осяков.</strong></p>
                    <h4>Технології</h4>
                    <p>Для розробки нашого проекту ми використовували такі технології: <strong><img class="logo-technologies" src="{% static 'img/django.png' %}" alt=""> Django, <img class="logo-technologies" src="{% static 'img/figma.png' %}" alt=""> Figma, <img class="logo-technologies" src="{% static 'img/python.png' %}" alt=""> Python, <img class="logo-technologies" src="{% static 'img/js.png' %}" alt=""> JavaScript (<img class="logo-technologies" src="{% static 'img/jquery.svg' %}" alt=""> JQuery), <img class="logo-technologies" src="{% static 'img/bootstrap.png' %}" alt=""> Bootstrap, <img class="logo-technologies" src="{% static 'img/gmail.png' %}" alt=""> Gmail API, <img class="logo-technologies" src="{% static 'img/sqlite3.png' %}" alt=""> Sqlite3 та <img class="logo-technologies" src="{% static 'img/pythonanywhere.png' %}" alt=""> Pythonanywhere</strong>. Кожен з нас вніс свій внесок у створення цього веб-сайту, поєднавши свої навички та ідеї.</p>
                    <h4>Мета</h4>
                    <p>Наша мета полягала <strong>в створенні зручного та функціонального інструменту, який допоможе користувачам організувати свої розклади, плани та завдання</strong>. Ми вклали багато зусиль у розробку і дизайн Kalendaru, сподіваючись, що він стане надійним помічником для кожного, хто шукає ефективний спосіб управляти своїм часом та завданнями.</p>
                    <h4>Подякування</h4>
                    <p>Ми продовжуємо працювати над вдосконаленням Kalendaru та надаємо регулярні оновлення, щоб забезпечити найкращий досвід користувача. Ми вдячні вам за використання нашого сервісу і сподіваємося, що він буде вам корисним.</p>
                    <h5>Дякуємо, що обрали Kalendaru!</h5>
                    <h5>З повагою,</h5>
                    <h5>Команда Kalendaru</h5>
                    
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/options.js' %}" defer></script>
{% endblock %}