{% extends "base/base.html" %}
{% load static %}

{% block title %}
Kalendaru - Реєстрація
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
    <div class="options">
        <div class="options-left">
            <div class="options-buttons">
                <button class="options-button profile" onclick="profileOption()">Обліковий запис</button>
                <button class="options-button notification" onclick="notificationOption()">Сповіщення</button>
                <button class="options-button privacy" onclick="policyOption()">Умова положення</button>
                <button class="options-button terms" onclick="termsOption()">Умова користувача</button>
            </div>
            {% if user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    <button class="options-button">Вийти з облікового запису</button>
                </form>
            {% endif %}
        </div>
        <div class="options-right">
            
            <div class="content-option profile-content">
                <h2>Обліковий запис</h2>
                {% if user.is_authenticated %}
                    <img style="width: 100px; height: 100px;" src="{% static 'img/noavatar.png' %}" alt="">
                    <div class="profile-text">
                        <h5><strong>Ім’я: </strong></h5>
                        <h5><strong>Електронна пошта: </strong></h5>
                        <h5><strong>Дата створення облікового запису </strong></h5>
                        <button class="button-profile">Змінити пароль</button>
                    </div>
                    <button>Видалити обліковий запис</button>
                {% else %}
                    <a style="-webkit-appearance: button; -moz-appearance: button; appearance: button; text-decoration: none; color: initial;" href="{% url 'login' %}">Увійти в обліковий запис</a>
                {% endif %}

            </div>
            <div class="content-option messages-content" style="display: none">
                <div class="form-check form-switch messages-button">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Увімкнути повідомлення</label>
                </div>
            </div>
            <div class="content-option policy-content" style="display: none">
                <p class="long-text">Політика конфіденційності Kalendaru

                    Дата набрання чинності: 02.06.2023
                    
                    Дякуємо за користування Kalendaru! У цій Політиці конфіденційності описано типи особистої інформації, яку ми збираємо, як ми використовуємо та захищаємо цю інформацію, коли ви використовуєте наш сайт Kalendaru, а також вибір, який ви маєте щодо ваших особистих даних.
                    
                    1. Інформація, яку ми збираємо:
                    
                        1.1 Інформація про обліковий запис:
                        Коли ви створюєте обліковий запис на Kalendaru, ми збираємо таку інформацію:

                        - Ім'я: ми збираємо ваше ім'я, щоб персоналізувати ваш обліковий запис і забезпечити більш персоналізований досвід.
                        - Адреса електронної пошти: ми збираємо вашу адресу електронної пошти, щоб полегшити спілкування, надавати важливі оновлення, пов’язані з обліковим записом, і дозволити вам скинути свій пароль, якщо це необхідно.
                        - Аватар: ви можете завантажити аватар, щоб персоналізувати свій обліковий запис. Ця інформація збирається, лише якщо ви вирішите її надати.

                        1.2 Записи Kalendaru:
                        Kalendaru збирає інформацію, пов’язану з діяльністю вашого Kalendaru, включаючи нотатки, завдання, події та інші деталі, які ви вводите на сайті. Ця інформація зберігається, щоб увімкнути функціональність служби Kalendaru та надати вам персоналізовані функції та нагадування.
                    
                    2. Використання зібраної інформації:
                    
                        2.1 Персоналізація та покращення сервісу:
                        Ми використовуємо зібрану інформацію, щоб персоналізувати ваш досвід використання Kalendaru, надавати вам відповідний вміст і функції, а також покращувати наші послуги. Це включає адаптацію рекомендацій Kalendaru, нагадувань і пропозицій на основі ваших уподобань і моделей використання.

                        2.2 Зв'язок:
                        Ми можемо використовувати вашу електронну адресу, щоб надсилати вам важливі сповіщення, оновлення та оголошення, пов’язані з вашим обліковим записом Kalendaru. Ці повідомлення вважаються важливою частиною послуги, і ви не можете відмовитися від їх отримання.

                        2.3 Зведені та анонімні дані:
                        Ми можемо агрегувати та анонімізувати вашу особисту інформацію для отримання статистичних даних і тенденцій. Ці дані використовуються для аналітичних цілей, таких як покращення наших послуг, проведення досліджень і маркетингових цілей. Це не ідентифікує вас особисто.
                    
                    3. Безпека даних:
                    
                    Ми серйозно ставимося до безпеки вашої особистої інформації. Ми вживаємо розумні заходи безпеки, щоб захистити ваші дані від несанкціонованого доступу, зміни, розголошення або знищення. Однак зауважте, що жоден метод передачі чи зберігання через Інтернет не є повністю безпечним, і ми не можемо гарантувати абсолютну безпеку вашої інформації.
                    
                    4. Обмін особистою інформацією:
                    
                    Ми не продаємо, не обмінюємо та не надаємо вашу особисту інформацію третім особам. Однак ми можемо надати вашу інформацію за таких обставин:
                    
                    - Постачальники послуг: ми можемо залучати довірених сторонніх постачальників послуг для виконання певних функцій або надання послуг від нашого імені, таких як хостинг, обслуговування, аналітика або підтримка клієнтів. Ці постачальники мають доступ до вашої інформації лише в обсязі, необхідному для виконання своїх завдань, і зобов’язані підтримувати конфіденційність і безпеку ваших даних.
                    - Юридичні вимоги: ми можемо розкрити вашу інформацію, якщо цього вимагає закон або у відповідь на обґрунтовані запити державних органів (наприклад, суду чи державної установи).
                    
                    5. Посилання третіх осіб:
                    
                    Kalendaru може містити посилання на сторонні веб-сайти або служби, які не належать або не контролюються нами. Ми не несемо відповідальності за політику конфіденційності або вміст цих сторонніх сайтів. Ми рекомендуємо переглянути політику конфіденційності цих веб-сайтів, перш ніж надавати будь-яку особисту інформацію.
                    
                    6. Конфіденційність дітей:
                    
                    Kalendaru не призначений для дітей віком до 13 років. Ми свідомо не збираємо особисту інформацію від осіб віком до 13 років. Якщо нам стане відомо, що ми зібрали особисту інформацію дитини віком до 13 років, ми вживемо заходів для видалення такої інформації з наших систем.
                    
                    7. Ваш вибір і права:
                        7.1 Доступ і оновлення:
                        Вступ і оновити інформацію свого облікового запису, увійшовши у свій обліковий запис Kalendaru та зробивши необхідні зміни в налаштуваннях облікового запису.

                        7.2 Видалення даних:
                        Ви можете подати запит на видалення свого

                          Обліковий запис Kalendaru та пов’язану з ним особисту інформацію, зв’язавшись з нами за допомогою наданої контактної інформації. Зверніть увагу, що певна інформація може зберігатися для законних або законних бізнес-цілей.

                    8. Зміни до цієї Політики конфіденційності:
                    
                    Час від часу ми можемо оновлювати цю Політику конфіденційності. Якщо ми внесемо суттєві зміни, ми повідомимо вас електронною поштою або через помітне повідомлення на веб-сайті Kalendaru. Радимо вам періодично переглядати цю Політику конфіденційності, щоб бути в курсі того, як ми збираємо, використовуємо та захищаємо вашу інформацію.
                    
                    9. Зв'яжіться з нами:
                    
                    Якщо у вас є будь-які запитання, занепокоєння чи запити щодо цієї Політики конфіденційності або нашої практики обробки даних, зв’яжіться з нами за електронною адресою kalendaruhelp@gmail.com.
                    
                    Використовуючи Kalendaru, ви погоджуєтеся з умовами та практикою, описаними в цій Політиці конфіденційності.</p>
                
            </div>
            <div class=" content-option terms-content" style="display: none">
                <p class="long-text">Умови використання Kalendaru

                    Дата набрання чинності: 02.06.2023
                    
                    Ласкаво просимо до Kalendaru! Ці Умови використання ("Умови") регулюють використання вами сайту календаря Kalendaru. Будь ласка, уважно прочитайте ці Умови перед використанням сайту. Отримавши доступ або використовуючи Календар, ви погоджуєтеся дотримуватися цих Умов і нашої Політики конфіденційності. Якщо ви не згодні з будь-яким положенням цих Умов, ви не можете використовувати Kalendaru.
                    
                    1. Реєстрація облікового запису та використання:
                    
                        1.1 Відповідність вимогам:
                        Щоб користуватися Календарем, вам має бути не менше 13 років. Створюючи обліковий запис, ви заявляєте та гарантуєте, що вам виповнилося 13 років і ви маєте правоздатність прийняти ці Умови.
                        
                        1.2 Інформація про обліковий запис:
                        Створюючи обліковий запис на Kalendaru, ви несете відповідальність за надання точної, повної та актуальної інформації. Ви також несете відповідальність за збереження конфіденційності облікових даних свого облікового запису та несете повну відповідальність за всі дії, які відбуваються під вашим обліковим записом. Будь ласка, негайно повідомте нас, якщо ви підозрюєте будь-яке несанкціоноване використання вашого облікового запису або будь-яке інше порушення безпеки.
                        
                        1.3 Вміст користувача:
                        Kalendaru дозволяє створювати та зберігати записи Kalendaru, включаючи нотатки, завдання, події та іншу пов’язану інформацію («Вміст користувача»). Ви зберігаєте право власності на свій Контент користувача, і, публікуючи або ділячись ним на Kalendaru, ви надаєте нам невиключну, всесвітню безоплатну ліцензію на використання, зміну, відтворення, розповсюдження та показ вашого Контенту користувача виключно з метою діючий і вдосконалюючи Календар.
                        
                        1.4 Заборонена поведінка:
                        Використовуючи Kalendaru, ви погоджуєтеся не:
                        
                        - Порушувати будь-які чинні закони, нормативні акти або права третіх осіб.
                        - Завантажувати, публікувати або передавати будь-який вміст, який є незаконним, наклепницьким, образливим, непристойним, образливим або іншим чином небажаним.
                        - Брати участь у будь-якому несанкціонованому використанні Kalendaru, включаючи доступ, збір або зберігання даних за допомогою автоматизованих засобів без нашої попередньої згоди.
                        - Спроба втрутитися або порушити функціональність чи безпеку Kalendaru чи будь-яких пов’язаних серверів чи мереж.
                        - Використовувати Kalendaru для будь-яких комерційних цілей без нашого прямого письмового дозволу.
                    
                    2. Права інтелектуальної власності:
                    
                    Kalendaru та його вміст, включаючи, але не обмежуючись цим, логотипи, товарні знаки, текст, графіку, зображення, програмне забезпечення та інші матеріали, є нашою власністю чи ліцензією та захищені законами про інтелектуальну власність. Ви не маєте права використовувати, відтворювати, змінювати, поширювати або відображати будь-який вміст Kalendaru без нашої попередньої письмової згоди.
                    
                    3. Відмова від гарантій:
                    
                    Kalendaru надається на умовах «як є» та «як доступно» без будь-яких гарантій чи запевнень, явних чи непрямих. Ми не гарантуємо точність, повноту або надійність будь-якого вмісту або інформації на Kalendaru. Ви використовуєте Kalendaru на свій власний ризик, і ви несете відповідальність за будь-які наслідки, пов’язані з таким використанням.
                    
                    4. Обмеження відповідальності:
                    
                    Наскільки це дозволено чинним законодавством, ми не несемо відповідальності за будь-які прямі, непрямі, випадкові, непрямі чи спеціальні збитки, що виникли внаслідок або будь-яким чином пов’язані з вашим використанням Kalendaru, навіть якщо нам було повідомлено про можливість таких збитків.
                    
                    5. Зміна та припинення:
                    
                    Ми залишаємо за собою право змінювати, призупиняти або припиняти Календар або будь-яку його частину в будь-який час і з будь-якої причини без попереднього повідомлення. Ми також можемо будь-коли змінити ці Умови, і оновлені Умови набудуть чинності після публікації на Kalendaru. Ви зобов’язані періодично переглядати ці Умови. Продовження використання Kalendaru після будь-яких змін до Умов означає вашу згоду зі зміненими Умовами.
                    
                    6. Застосовне законодавство та юрисдикція:
                    
                    Ці Умови регулюються та тлумачаться відповідно до закони України. Будь-який судовий позов або провадження, що випливає з цих Умов або Kalendaru або пов’язане з ними, має розглядатися виключно в судах, розташованих у межах зазначеної юрисдикції.

                    7. Роздільність:

                    Якщо будь-яке положення цих Умов буде визнано недійсним, незаконним або таким, що не має позовної сили, решта положень залишаться в повній силі.

                    8. Повна угода:

                    Ці Умови разом із нашою Політикою конфіденційності становлять повну угоду між вами та Kalendaru щодо використання вами сайту та замінюють будь-які попередні чи поточні угоди, повідомлення чи домовленості, усні чи письмові.

                    9. Зв'яжіться з нами:

                    Якщо у вас є будь-які запитання, коментарі чи занепокоєння щодо цих Умов або Kalendaru, зв’яжіться з нами за електронною адресою kalendaruhelp@gmail.com.

                    Використовуючи Календар, ви підтверджуєте, що прочитали, зрозуміли та погодилися з цими Умовами використання.</p>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/options.js' %}" defer></script>
{% endblock %}