{% extends "base/base.html" %}
{% load static %}

{% block title %}
Kalendaru - Профіль
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile">
        <h2>Ваш профіль</h2>
        <div class="profile-top">
            {% if avatar.avatar %}
                <img class="profile-avatar" src="{{ avatar.avatar.url }}" alt="">
            {% else %}
                <img class="profile-avatar" src="{% static 'img/noavatar.png' %}" alt="">
            {% endif %}
            <div class="profile-text">
                <h5 class="text"><strong>Ім’я: {{ user.username }}</strong></h5>
                <h5 class="text"><strong>Електронна пошта: {{ user.email }}</strong></h5>
                <h5 class="text"><strong>Дата створення облікового запису {{ user.date_joined }}</strong></h5>
                <a style="-webkit-appearance: button; -moz-appearance: button; appearance: button; text-decoration: none; color: initial;" href="{% url 'options' %}" class="button-profile">Перейти до опції облікового запису</a>
            </div>
        </div>
        <div class="profile-bottom">
            <div class="notes">
                <h3>Ваші нотатки</h3>
                <div class="notes-content">
                    {% comment %} <h4>Ще немає нотаток</h4> {% endcomment %}
                    {% for note in notes %}
                        <div class="note">
                            <h5 class='noteName'>{{ note.name }}</h5>
                            <h6 class='noteDate'>{{ note.date_added }}</h6>
                            <input type="hidden" class='noteDesc' value="{{ note.description }}">
                            <input type="hidden" class='noteAction' value="{{ note.action }}">
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="tasks">
                <h3>Завдання</h3>
                <div class="tasks-content">
                    {% for task in tasks %}
                        {% if not task.hascompleted %}
                            <div class="task" style="background: #72F0F3;">
                                <h5>{{ task.name }}</h5>
                                <h6>До {{ task.date_added }}</h6>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="done-tasks">
                <h3>Виконані завдання</h3>
                <div class="done-tasks-content">
                    {% for task in tasks %}
                        {% if task.hascompleted %}
                            <div class="task" style="background: #FFDE66;">
                                <h5>{{ task.name }}</h5>
                                <h6>До {{ task.date_added }}</h6>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/signup.js' %}" defer></script>
{% endblock %}