{% extends "base/base.html" %}
{% load static %}

{% block title %}
Kalendaru - Вхід
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
    <div class="signin">
        <h1>Вхід</h1>
        <form method="POST" id="form-signin">
            {% csrf_token %}
            <input class="input" type="username" required name="username" id='login' placeholder="Логін">
            <input class="input" type="password" required name="password" id='password' placeholder="Пароль">

            <div class="buttons-signin"> 
                <button class="button-signin">Увійти</button>
                <a class="button-signin registration" href="{% url 'register' %}">Реєстрація</a> 
            </div>
        </form>    
        
        {% comment %} <a class="button" href="{% url 'calendar' %}">Продовжити без облікового запису</a> {% endcomment %}
        {% comment %} <button class="button">Забули пароль?</button> {% endcomment %}
        {% comment %} <p>Увага! Без облікового запису ви не можете зберегти свої дані.</p> {% endcomment %}
        {% comment %} <a href="#" id='more-about-account'>Детальніше</a> {% endcomment %}
    </div>
    <p style='color: #A51C1C'>{{ error_text }}</p>
        <div class="close-modal"></div>
        <div class="modal-window" id="modal-window">
            <div class="modal">
                {% comment %} Вот сюда {% endcomment %}
                <div class="without-an-account">
                    <h1>Без облікового запису</h1>
                    <div class="list-pros">
                        <div class="pros">
                            <h4>Можливість створювати нотатки</h4>
                            <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                        </div>

                        <div class="pros">
                            <h4>Можливість написати у підтримку</h4>
                            <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                        </div>

                        <div class="pros">
                            <h4>Можливість мати сповіщення</h4>
                            <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                        </div>

                        <div class="pros">
                            <h4>Можливість дивитися на календар</h4>
                            <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                        </div>

                        <div class="pros">
                            <h4>Синхронізувати дані з іншими пристроями</h4>
                            <img src="{% static 'img/checkbox-notchecked.svg' %}" alt="#">
                        </div>

                        <div class="pros">
                            <h4>Можливість зберігати дані</h4>
                            <img src="{% static 'img/checkbox-notchecked.svg' %}" alt="#">
                        </div>

                        <div class="pros">
                            <h4>Створювати завдання</h4>
                            <img src="{% static 'img/checkbox-notchecked.svg' %}" alt="#">
                        </div>

                        <div class="pros">
                            <h4>Видзначати завдання як виконані</h4> 
                            <img src="{% static 'img/checkbox-notchecked.svg' %}" alt="#">
                        </div>

                    </div>

                    <div class="with-an-account">
                        <h1>З обліковим записом</h1>
                        <div class="list-pros">
                            <div class="pros">
                                <h4>Можливість створювати нотатки</h4>
                                <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                            </div>
    
                            <div class="pros">
                                <h4>Можливість написати у підтримку</h4>
                                <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                            </div>
    
                            <div class="pros">
                                <h4>Можливість мати сповіщення</h4>
                                <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                            </div>
    
                            <div class="pros">
                                <h4>Можливість дивитися на календар</h4>
                                <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                            </div>
    
                            <div class="pros">
                                <h4>Синхронізувати дані з іншими пристроями</h4>
                                <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                            </div>
    
                            <div class="pros">
                                <h4>Можливість зберігати дані</h4>
                                <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                            </div>
    
                            <div class="pros">
                                <h4>Створювати завдання</h4>
                                <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                            </div>
    
                            <div class="pros">
                                <h4>Видзначати завдання як виконані</h4> 
                                <img src="{% static 'img/checkbox-checked.svg' %}" alt="#">
                            </div>
    
                        </div>
                    
                </div>

                
                
                

   
            </div>
        </div>
{% endblock %}

{% comment %} {% block js %}
<script src="{% static 'js/signin.js' %}" defer></script>
{% endblock %} {% endcomment %}