{% extends "base/base.html" %}
{% load static %}

{% block title %}
Kalendaru - Реєстрація
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
    <div class="signup">
        <h1>Реєстрація</h1>
        <form method="POST" id="form-signin">
            {% csrf_token %}
            <input class="input" required type="text" name="nickname" placeholder="Логін">
            <input class="input" required type="email" name="email" placeholder="Електронна пошта">
            <input class="input" required type="password" name="password" placeholder="Пароль">
            
            <input type="file" style="display: none;" name="avatar" value="{% static 'img/noavatar.png' %}">
            <div class="checkbox">
                <input required type="checkbox" name="checkbox">
                <p class="agree">Я погоджуюсь з умовами положення про та угодою користувача</p>
                {% comment %} <div class="form-check form-switch messages-button">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Я погоджуюсь з умовами положення про та угодою користувача</label>
                </div> {% endcomment %}
            </div>
            <div class="buttons-signup">
                <button class="button-signup">Зареєструватися</button>
                <button class="button-signup">Вхід</button>
            </div>
            <p style='color: #A51C1C'>{{ error_text }}</p>
        </form>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/signup.js' %}" defer></script>
{% endblock %}